main {
  margin: 1rem auto;
  padding-top: 2rem;
}

.popupbox {
  display: none;
  z-index: 110;
  padding: 7px;
  height: 90%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  text-decoration: none;
  color: #cccccc;
}
.popupbox a {
  font-size: 200%;
  text-decoration: none;
  color: #cccccc;
}
.popupbox a:hover {
  color: #fff;
}
.popupbox .popupbox_header {
  height: 5%;
  overflow: hidden;
  font-weight: bold;
  line-height: 2em;
}
.popupbox .popupbox_header .popupbox_navigation {
  display: inline;
  float: right;
  margin-right: 12px;
}
.popupbox .popupbox_image {
  height: 95%;
  width: 100%;
  margin: 3.5rem 1rem 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popupbox .popupbox_image img {
  border: 4px solid black;
  max-width: 1000px;
  width: 70%;
}

.package {
  width: 90%;
  margin: 1rem 0;
  border: 4px solid #0e4f1f;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  opacity: 0;
  transform: translateY(20%);
}
.package .packages-anchor {
  width: 100%;
  text-decoration: none;
  color: inherit;
  padding: 1rem;
}
.package .packages-anchor .package__subtitle {
  color: #6a6666;
}
.package .packages-anchor .package__info {
  padding: 1rem;
  border: 1px solid #0e4f1f;
  border-radius: 20px;
  font-size: 1.25rem;
  color: #0e4f1f;
  background: white;
}
.package .package-image {
  display: flex;
  justify-content: center;
  padding: 1rem;
  width: 100%;
}
.package .package-image img {
  border-radius: 20px;
  width: 100%;
  cursor: pointer;
  max-width: 500px;
}
.package:hover, .package:active {
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#diamond-mine,
#oymyakon,
#lake-jack {
  background: rgba(213, 255, 220, 0.95);
  left: -0.5%;
}

#volcano-krenitsyn,
#glass-bay,
#kutkhiny-bati {
  background: rgba(234, 252, 237, 0.95);
  float: right;
  right: -0.5%;
  border-left: 4px solid #0e4f1f;
  text-align: right;
}

.package__badge {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  font-size: 0.75rem;
  color: white;
  padding: 0.5rem;
  -webkit-transform: rotate(45deg) translate(3.5rem, -1rem);
  -ms-transform: rotate(45deg) translate(3.5rem, -1rem);
  transform: rotate(45deg) translate(3.5rem, -1rem);
  width: 12rem;
  text-align: center;
  background: #ff5454;
}

.package__badge-winter {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  font-size: 0.75rem;
  color: white;
  padding: 0.5rem;
  -webkit-transform: rotate(45deg) translate(3.5rem, -1rem);
  -ms-transform: rotate(45deg) translate(3.5rem, -1rem);
  transform: rotate(45deg) translate(3.5rem, -1rem);
  width: 12rem;
  text-align: center;
  background: #49a7e5;
}

.package__badge-night {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  font-size: 0.75rem;
  color: white;
  padding: 0.5rem;
  -webkit-transform: rotate(45deg) translate(3.5rem, -1rem);
  -ms-transform: rotate(45deg) translate(3.5rem, -1rem);
  transform: rotate(45deg) translate(3.5rem, -1rem);
  width: 12rem;
  text-align: center;
  background: #121515;
}

@media (min-width: 1500px) {
  .package {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .packages-anchor {
    width: 60%;
    padding: 2rem;
  }

  .package-image {
    vertical-align: center;
    padding: 2rem;
    width: 100%;
    max-width: 500px;
    height: 95%;
    margin: 7px 14px 0 0;
  }
  .package-image img {
    width: 100%;
  }
}

/*# sourceMappingURL=packages.css.map */
